
<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd> 
        </dl>
      </div>
    </div>

  </article>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-1">
      <% if current_user %>
       

        <%= form_for [@product, @review] do |form| %>

          <% if form.object.errors.any? %>
            <div class="alert alert-danger">
              <strong>The following errors prevented saving:</strong>
              <ul>
                <% form.object.errors.full_messages.each do |error| %>
                  <li><%= error %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <div class="form-group">
            <%= form.label :description %>
            <%= form.text_area :description, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= form.label :rating %>
            <%= form.select :rating, options_for_select([[1,1], [2,2], [3,3], [4,4], [5,5]]) %>
          </div>

          <%= form.submit 'Post', class: 'btn btn-primary' %>
        <% end %>
      <% end%>
      </div>
    </div>

    <h3>Review</h3>
    <div class="col-sm-8">
      <div class="dl-horizontal">
       <% @product.reviews.reverse.each do |review| %>
        <dt>User</dt>
        <dd><%= review.user.firstname %></dd>
        <dt>Rating</dt>
        <dd><%= review.rating %></dd>
        <dt>Description</dt>
        <dd><%= review.description %></dd>
        
          <% if current_user %>
            <% if current_user.id == review.user_id %>
              <br>
              <div class="delete-review">
              <%= link_to product_review_path(review.product_id, review.id), method:"delete", form_class: "btn btn-primary" do %>
              Delete
              </div>
              <br>
              <% end %>
            <% end %>
          <% end %>
        
        <% end %>
      </div>

    </div>


</section>
